{% extends 'layouts/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section>
        <div id="form-connexion" class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
            <div class="max-w-md w-full space-y-8">

                <div>
                    <img class="mx-auto h-6 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                         alt="Workflow">
                    <h1 class="mt-6 text-center text-3xl font-extrabold text-indigo-600">
                        Connectez-vous à votre compte
                    </h1>
                </div>

                <form class="mt-8 space-y-6 align-middle" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que <strong>{{ app.user.userIdentifier }}</strong>
                        </div>
                        <a class="mx-50 text-indigo-700  hover:underline" href="{{ path('app_logout') }}">Se
                            déconnecter</a>
                    {% endif %}

                    <div class="rounded-md shadow-sm -space-y-px">
                        <div>
                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   autocomplete="email" required autofocus
                                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                                   placeholder="email@email.fr">
                        </div>

                        <div>
                            <label for="inputPassword" class="sr-only">Mot de passe</label>
                            <input id="inputPassword" name="password" type="password" autocomplete="current-password"
                                   required
                                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                                   placeholder="Mot de passe">
                        </div>
                    </div>

                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                            <input id="remember-me" name="remember-me" type="checkbox"
                                   class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                            <label for="remember-me" class="ml-2 block text-sm text-gray-900">
                                Rappelle-toi de moi
                            </label>
                        </div>
                    </div>

                    {# Les boutons d'inscription et connexion #}
                    <div class="group relative w-full flex justify-between">
                        <button type="submit"
                                class="mr-1 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                                <!-- Heroicon name: solid/lock-closed -->
                                <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd"
                                          d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </span>
                            Se connecter
                        </button>
                    </div>

                    <hr class="mb-6 border-t"/>

                    <div class="text-center">
                        <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                           href="#{# {{ path('app_forgot_password_request') }} #}">
                            Mot de passe oublié
                        </a>
                        <div class="text-center">
                            <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                               href="{{ path('app_register') }}">
                                Je n'ai pas encore de compte, il est temps de s'inscrire.
                            </a>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}
                </form>
            </div>
        </div>
    </section>
{% endblock %}


