{% extends 'layouts/base.html.twig' %}

{% block title %}APER - Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative container" role="alert">
            <strong class="font-bold">Désolé</strong>
            <span class="block sm:inline">{{ flashError }}</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
        </div>
    {% endfor %}
    <section id="inscription" class="container">
        <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
            <div class="max-w-md w-full space-y-8">
                <div>
                    <img class="mx-auto h-6 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
                    <h2 class="mt-6 text-center text-3xl font-extrabold text-indigo-600">
                        Création de votre compte
                    </h2>
                </div>

                <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
                    <div class="max-w-md w-full space-y-8">

                        {{ form_start(registrationForm) }}
                        {# Todo: Regrouper pseudo et Email sur une ligne #}
                            <div class="">
                                {{ form_row(registrationForm.pseudo)}}
                                {{ form_row(registrationForm.email)}}
                            </div>

                            {# Todo: Regrouper les champs Password sur une ligne #}
                            {{ form_row(registrationForm.plainPassword) }}

                            {{ form_row(registrationForm.agreeTerms, {
                                label: "Accepter nos conditions d'utilisations."
                            }) }}

                            <button type="submit" class="mr-1 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                S'inscrire
                            </button>

                        {{ form_end(registrationForm) }}

                        <hr class="mb-6 border-t" />

                        <div class="text-center">
                            <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800" href="{{ path('app_login') }}">
                                J'ai déjà un compte, me connecter.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

