{% extends ('layouts/base.html.twig') %}
{% block title %} {{ parent() }}- Contact {% endblock %}

{% block body %}
    <section class="bg-gray-900 text-gray-100 px-8">
        <div class="max-w-screen-xl px-8 grid gap-8 grid-cols-1 md:grid-cols-2 md:px-12 lg:px-16 xl:px-32 py-16 mx-auto bg-gray-100 text-gray-900 rounded-lg shadow-lg">
            <div class="flex flex-col justify-between">
                <div class="mx-auto mt-12">
                    <h2 class="text-4xl lg:text-5xl font-bold leading-tight text-purple-700">Contactez-Nous</h2>
                </div>
                <div class="mt-8 text-center">
                    {% include('contact/svg/svg_contact_form.svg') %}
                </div>
            </div>

            <div class="bg-white">
                <div class="bg-white p-5 contact-form rounded shadow-xl">
                    <div id="contact-form">
                        {{ form_start(contactForm) }}

                            <div>
                                {{ form_errors(contactForm) }}
                            </div>

                            <div>
                                {{ form_row(contactForm.nom) }}
                            </div>

                            <div>
                                {{ form_row(contactForm.email) }}
                            </div>

                            <div>
                                {{ form_row(contactForm.subject) }}
                            </div>

                            <div>
                                {{ form_row(contactForm.message) }}
                            </div>

                            <div>
                                <input type="submit" value="Envoyer Message" class="uppercase text-sm font-bold tracking-wide bg-indigo-500 text-gray-100 p-3 rounded-lg w-full focus:outline-none focus:shadow-outline">
                            </div>

                            {# <input type="hidden" name="_csrf_token" value="{{ csrf_token('send_email_via_contact_form') }}">#}

                        {{ form_end(contactForm) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}