{% extends 'layouts/base.html.twig' %}

{% block title %}APER - Blog{% endblock %}

{% block body %}
    <header>
        {% include "layouts/partials/_navbar.html.twig" %}
    </header>

    <section class="dark:bg-gray-900 text-gray-600">
        <div class="w-full -mt-2 p-8 text-center bg-gradient-to-r from-blue-200 to-purple-500 lg:p-18 my-auto">
            <h1 class="title_h1 dark:text-gray-700">Les Articles</h1>
            <div class="text-white">
                <span class="text-blue-800">Blog -</span> Les articles validés se trouvent ci-dessous
            </div>
            {#
            <div class="hidden md:flex justify-end mr-48">
                <div class="p-6 bg-purple-400 rounded-full h-4 w-4 flex items-center justify-center text-2xl text-white mt-4 shadow-lg cursor-pointer hover-bg-black">
                    <a class="hover-bg-black" href="{{ path('article_new') }}" class="">+</a>
                </div>
            </div>
            #}
            <div class="flex justify-center gap-2 my-5">
                <a href="#{#{{ path('article_new') }}#}" class="bg-pink-500 px-10 py-2 rounded-full text-white shadow-lg hover:bg-pink-700 transition-all duration-500 shadow">Poster une article</a>
                {# <button class="bg-white border border-gray-500 px-10 py-2 rounded-full shadow-lg">Message</button>#}
            </div>
        </div>
    </section>

    <section class="dark:bg-gray-900 text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
                {% for article in articles %}
                    <div id="article-{{ article.id }}" class="p-4 md:w-1/3">
                        <div class="dark:bg-gray-900 opacity-75 hover:opacity-100 transition-all duration-250 h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden hover:shadow-2xl">
                            {% if article.file == 'placeholder.webp' %}
                                <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{ asset('images/placeholder.webp') }}"  alt="{{ "image par défaut" }}">
                            {% else %}
                                <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{ asset('uploads/article_image/' ~ article.file) }}"  alt="{{ "image de l\'article " ~ article.id }}">
                            {% endif %}
                            <div class="p-6">

                                {# <Afficher la Catégorie> #}
                                {% if article.category.count > 0 %}
                                    <div class="relative flex flex-col items-start px-6 rounded-b-2xl">
                                        <div class="bg-purple-400 absolute top-0 -mt-9 flex items-center px-3 py-1.5 leading-none w-auto inline-block rounded-full text-xs font-medium uppercase text-white inline-block">
                                            {% for category in article.category %}
                                                {{ category.name }}
                                                {% if not loop.last %} - {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {# </Afficher la Catégorie> #}

                                {% set fullname = app.user.firstname ~ ' ' ~ app.user.lastname %}
                                {% if fullname == article.author %}
                                    <div class="relative rounded-xl">
                                        <div class="absolute top-0 -mt-9 right-0 flex space-x-2 p-3">
                                            <a href="{{ path('article_edit', {'id':article.id} ) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer text-blue-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" /></svg>
                                            </a>
                                            <br>
                                            <a href="#" onclick="event.preventDefault(); confirm('Êtes-vous sûr de vouloir supprimer cet article ?') && document.getElementById('js-event-deletion-form').submit();">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer text-red-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                                                <form id="js-event-deletion-form" style="display: none;" action="{{ path('article_delete', {'id': article.id}) }}" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token('article_deletion_' ~ article.id) }}">
                                                </form>
                                            </a>

                                        </div>
                                    </div>
                                {% endif %}

                                <div class="flex justify-between mt-2">
                                    <h2 class="dark:text-white tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{ article.author.fullName }}</h2>
                                    <small class="dark:text-white tracking-widest text-xs title-font  text-gray-400 mb-1">{{ article.createdAt|date('d/m/Y') }}</small>
                                </div>
                                <br>
                                <h1 class="dark:text-white title-font text-lg font-medium mb-3 text-center text-purple-600 transition-all duration-150">
                                    {{ article.title }}
                                </h1>

                                <p class="leading-relaxed mb-12">{{ article.content|u.truncate(200, ' ...', false)|raw }}</p>

                                <div class="flex items-center flex-wrap ">
                                    <a href="#{#{{ path('article_show', {'id': article.id}) }}#}" class="text-purple-500 inline-flex items-center md:mb-2 lg:mb-0 hover:underline hover:text-purple-700 font-semibold">
                                        Lire la suite
                                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M5 12h14"></path>
                                            <path d="M12 5l7 7-7 7"></path>
                                        </svg>
                                    </a>
                                    <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"/>
                                    </svg>{{ article.votes }}
                                    </span>

                                    {#<span class="text-gray-500 inline-flex items-center leading-none text-sm">
                                        <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                          <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                                        </svg>
                                        {{ article.comments|length }}
                                    </span>#}

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock %}